<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="."> -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <script src="https://kit.fontawesome.com/e962f2728f.js" crossorigin="anonymous"></script>
    <title>Stylists - (ADMIN)</title>
    <style>
        #menu .items li:nth-child(1) {
            border-left: 4px solid white;
        }
    </style>
    <link rel="stylesheet" href="../Styles/admin.css">
</head>

<body>
    <!-- side nav bar -->
    <section id="menu">
        <div class="logo">
            <h2><a href="../index.html" style="text-decoration: none; color: white; margin-left: 20px;">StyleSync</a>
            </h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-simple"></i> <a href="./admin.Dashboard.html">Dashboard</a></li>

            <li><i class="fa-solid fa-circle-info"></i> <a href="./admin.users.html">Users</a></li>
            <li><i class="fa-solid fa-people-group"></i> <a href="./admin.appointment.html">Appointments</a></li>
            <li><i class="fa-solid fa-people-group"></i> <a href="./admin.stylist.html">Stylist</a></li>


        </div>
    </section>
    <!-- top search section -->
    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <h1 style="margin-left: 20px;">Welcome To Admin Panel</h1>
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <!-- <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="search" id="">
                </div> -->
            </div>
            <!-- profile section -->
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img id="pro" src="../image/StyleSync.png" alt="" style="width: 100%; border-radius: 0;">
            </div>
        </div>
        <!-- info box -->
        <h3 class="i-name">OUR STYLIST</h3>
        <div id="page">
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Speciality</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="adminStylist">
                    
                </tbody>
            </table>
        </div>
        <div class="add">
            <h1 style="color: white;">ADD STYLIST</h1>
            <form onsubmit="submitform()">
                <label for="image">Image URL:</label>
                <input type="text" id="image" name="image" placeholder="Stylist Image URL " required>
                
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Stylist Name " required>
                
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                
                <label for="bio">Bio:</label>
                <textarea id="bio" name="bio" placeholder="Stylist bio" required></textarea>
                
                <label for="speciality1">Speciality 1:</label>
                <input type="text" id="speciality1" placeholder="Stylist Speciality" name="speciality1" >
                
                <label for="speciality2">Speciality 2:</label>
                <input type="text" id="speciality2" placeholder="Stylist Speciality" name="speciality2" >
                
                <label for="speciality3">Speciality 3:</label>
                <input type="text" id="speciality3" placeholder="Stylist Speciality" name="speciality3" >
                
                <label for="rating">Rating:</label>
                <input type="text" id="rating" name="rating" placeholder="Stylist Rating" required>
                
                <input type="submit" value="Submit" >
              </form>
                
        </div>
    </div>
    </section>
 
</body>
<script src="../Scripts/admin.stylist.js"></script>
</html>