<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="."> -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <script src="https://kit.fontawesome.com/e962f2728f.js" crossorigin="anonymous"></script>
    <title>Users - (ADMIN)</title>
    <style>
        #menu .items li:nth-child(1) {
            border-left: 4px solid white;
        }
    </style>
    <link rel="stylesheet" href="../Styles/admin.css">
    <link rel="stylesheet" href="../Styles/admin.user.css">
</head>

<body>
    <!-- side nav bar -->
    <section id="menu">
        <div class="logo">
            <h2><a href="../index.html" style="text-decoration: none; color: white; margin-left: 20px;">StyleSync</a>
            </h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-simple"></i> <a href="./admin.Dashboard.html">Dashboard</a></li>

            <li><i class="fa-solid fa-circle-info"></i> <a href="./admin.users.html">Users</a></li>
            <li><i class="fa-solid fa-people-group"></i> <a href="./admin.appointment.html">Appointments</a></li>
            <li><i class="fa-solid fa-people-group"></i> <a href="./admin.stylist.html">Stylist</a></li>


        </div>
    </section>
    <!-- top search section -->
    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <h1 style="margin-left: 20px;">Welcome To Admin Panel</h1>
                <div>
                    <input type="text" placeholder="Search User Here" id="searchBoxAdmin" oninput="handleSearchUser(event)">
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <!-- <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="search" id="">
                </div> -->
            </div>
            <!-- profile section -->
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img id="pro" src="../image/StyleSync.png" alt="" style="width: 100%; border-radius: 0;">
            </div>
        </div>
        <!-- info box -->
        <h3 class="i-name">Dashboard</h3>
        <div class="values">
     
        </div>
        <div class="board">
            <table width="100%">
                <thead>
                    <tr style="height: 40px; text-align: center; font-weight: bold;">
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Role</td>
                        <td>Update Role</td>
                        <td>Contact</td>
                    </tr>
                </thead>
                <tbody id="usertbody" style="text-align: center;">
                    <!-- append here -->
                </tbody>
            </table>
        </div>
    </section>
 
</body>

</html>


<script src="../Scripts/admin.users.js"></script>