<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../Styles/book.css">
    <link rel="stylesheet" href="../Styles/navbar.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <!-- _____________________NAVBAR________________________ -->
     <div class="nav">
        <div class="logo">
            <a href="../index.html"><img src="../image/logo1.png" alt=""></a>
        </div>
        <div class="sec">
           <div id="myLinks">
                <div><a href="../index.html">HOME</a></div>
                <div> <a href="service.html">SERVICES</a></div>
                <div> <a href="view.html">VIEW APPOINMENT</a></div>
                <div><a href="book.html" class="book" id="book">BOOK AN APPOINMENT</a></div>
                <div><a href="./admin.Dashboard.html" class="book" id="adminPanel">Admin Panel</a></div>

                <div><a href="../login.html" class="login" id="login" onclick="handleLoginBtn()">Login/Signup</a></div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
        </div>
    </div>
    <!-- ------------------------------NAVBAR END-------------------- -->
<br><br>

<h1>OUR STYLIST </h1>

    <form id="search">
        <input type="text" id="stylist" placeholder="Find your stylist">
        <input type="submit" id="btn" placeholder="Search">
    </form>

<div class="main-container">
    <div class="filter" id="filter">
        <h3>Filter by</h3>
        <hr>
        <h4>service</h4>
           <input type="checkbox" class="salon" value="Hair Stylist" name="salon">
           <label for="">Hair Stylist</label>
           <br>
           <input type="checkbox" class="salon" value="Makeover" name="salon">
           <label for="">Makeover</label>
           <br>
           <input type="checkbox" class="salon" value="Bridal Make up" name="salon">
           <label for="">Bridal Make up</label>
           <br>
           <input type="checkbox" class="salon" value="Skin Treatment" name="salon">
           <label for="">Skin Treatment</label>
           <br>
           <hr>
           <h4>Star rating</h4>
           <input type="checkbox" class="star" value="1" name="star">
           <label for="">1 star</label>
           <br>
           <input type="checkbox" class="star" value="2" name="star">
           <label for="">2 star</label>
           <br>
           <input type="checkbox" class="star" value="3" name="star">
           <label for="">3 star</label>
           <br>
           <input type="checkbox" class="star" value="4" name="star">
           <label for="">4 star</label>
           <br>
           <input type="checkbox" class="star" value="5" name="star">
           <label for="">5 star</label>
          
          
            <br>
            <br>
            <button id="fil">Apply</button>
    </div>
    <div class="container">

    </div>
</div>

<br><br>
       
<!-- -----------------------------footer-------------------------------------- -->

<div class="footer">
    <div>
        <img width="73%" src="./image/logo1.png" alt="">
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
    <div>
        <h3>Services</h3>
        <p>Domainracer</p>
        <p>Hair Styling</p>
        <p>Skin Treatment</p>
        <p>Fashion Make Up</p>
        <p>Bridal Make Up</p>
        <p>Professional Photoshoot</p>
    </div>
    <div>
        <div>
            <h3>Email</h3>
            <p>info@example.com</p>
        </div>
        <div>
            <h3>Address</h3>
            <p>425 6th Ave, Chennai 111111, India</p>
        </div>
    </div>
    <div>
        <h3>Buisness Hours</h3>
        <p>Monday - 11:00-06:00</p>
        <p>Tuesday: 11:00-06:00</p>
        <p>Wednesday: 11:00-06:00</p>
        <p>Thursday: 11:00-06:00</p>
        <p>Friday: 11:00-06:00</p>
        <p>Saturday: 11:00-06:00</p>
        <p>Sunday: 10:00-06:00</p>
    </div>
 </div> 
 <!-- <img id="back" src="https://media.istockphoto.com/id/1130436548/vector/vector-seamless-monochrome-pattern-for-hairdresser-tools-for-the-master-in-the-beauty-salon.jpg?s=612x612&w=0&k=20&c=ubTEK_qfKddQXvVwrJhQwl-MMCTXBGmv_7yP8a9O8J8=" alt="">        -->
</body>
<script src="../Scripts/navbar.js"></script>

<script src="../Scripts/book.js"> </script>
</html>