<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../Styles/navbar.css">
    <link rel="stylesheet" href="../Styles/service.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- _____________________NAVBAR________________________ -->
    <div class="nav">
        <div class="logo">
            <a href="../index.html"><img src="../image/logo1.png" alt=""></a>
        </div>
        <div class="sec">
           <div id="myLinks">
                <div><a href="../index.html">HOME</a></div>
                <div> <a href="service.html">SERVICES</a></div>
                <div> <a href="view.html">VIEW APPOINMENT</a></div>
                <div><a href="book.html" class="book" id="book">BOOK AN APPOINMENT</a></div>
                <div><a href="./admin.Dashboard.html" class="book" id="adminPanel">Admin Panel</a></div>

                <div><a href="../login.html" class="login" id="login" onclick="handleLoginBtn()">Login/Signup</a></div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
        </div>
    </div>
    <!-- ------------------------------NAVBAR END-------------------- -->

<h1>HAIR SERVICES</h1>
<div class="service">
    <div><img src="https://salonsafari.com/img/photo-4.jpg" alt=""></div>
    <div>
        <table>
            <tr>
            <th>Services</th>
            <th>Price</th>
            </tr>
            <tr>
            <td>WOMEN’S CUT ONLY</td>
            <td>₹ 350</td>
            </tr>
            <tr>
            <td>WOMEN STYLE</td>
            <td>₹ 750</td>
            </tr>
            <tr>
            <td>WOMEN’S WASH</td>
            <td>₹ 550</td>
            </tr>
            <tr>
            <td>WOMEN’S ROOT COLOUR</td>
            <td>₹ 399</td>
            </tr>
            <tr>
                <td>WOMEN’S FULL  COLOUR</td>
                <td>₹ 499</td>
            </tr>
          </table>
    </div>
</div>
<h1>SKINCARE SERVICES</h1>
<div class="service2">
    <div>
        <table>
            <tr>
            <th>Services</th>
            <th>Price</th>
            </tr>
            <tr>
            <td>Skincare Treatment: Arms Polish</td>
            <td>₹ 350</td>
            </tr>
            <tr>
            <td>Skincare Treatment: Legs Polish</td>
            <td>₹ 750</td>
            </tr>
            <tr>
            <td>Skincare Treatment: Back Polish</td>
            <td>₹ 550</td>
            </tr>
            <tr>
            <td>Skincare Treatment: Full Body Scrub</td>
            <td>₹ 999</td>
            </tr>
            <tr>
                <td>Skincare Treatment: Bleach</td>
                <td>₹ 699</td>
            </tr>
          </table>
    </div>
    <div><img src="https://salonsafari.com/img/14.jpg" alt=""></div>
</div>
<h1>SPA SERVICES</h1>
<div class="service">
    <div><img src="https://img.freepik.com/free-photo/beautiful-young-woman-having-spa-massage-head-beauty-salon-indoors_186202-3543.jpg" alt=""></div>
    <div>
        <table>
            <tr>
            <th>Services</th>
            <th>Price</th>
            </tr>
            <tr>
            <td>Body Treatment: Manicure</td>
            <td>₹ 350</td>
            </tr>
            <tr>
            <td>Body Treatment: Pedicure</td>
            <td>₹ 750</td>
            </tr>
            <tr>
            <td>Body Treatment: Massage</td>
            <td>₹ 550</td>
            </tr>
            <tr>
            <td>Facials: Casmara Specials</td>
            <td>₹ 999</td>
            </tr>
            <tr>
                <td>Facials: Touch N Glow Specials</td>
                <td>₹ 699</td>
            </tr>
          </table>
    </div>
    
</div>
<h1>MAKE UP SERVICES</h1>

<div class="service2">
    <div>
        <table>
            <tr>
            <th>Services</th>
            <th>Price</th>
            </tr>
            <tr>
            <td>Nail Treatment</td>
            <td>₹ 350</td>
            </tr>
            <tr>
            <td>Hair Removal: Threading</td>
            <td>₹ 750</td>
            </tr>
            <tr>
            <td>Waxing: Facial *Organic Offered</td>
            <td>₹ 550</td>
            </tr>
            <tr>
            <td>Facials: Touch N Glow Specials</td>
            <td>₹ 999</td>
            </tr>
            <tr>
            <td>Facials: Casmara Specials</td>
            <td>₹ 699</td>
            </tr>
          </table>
    </div>
    <div><img src="https://i.pinimg.com/originals/c2/e5/63/c2e56366a9320dde4de5d107a405b934.jpg" alt=""></div>
</div>
    
<!-- -----------------------------footer-------------------------------------- -->

<div class="footer">
    <div>
        <img width="73%" src="../image/logo1.png" alt="">
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
    <div>
        <h3>Services</h3>
        <p>Domainracer</p>
        <p>Hair Styling</p>
        <p>Skin Treatment</p>
        <p>Fashion Make Up</p>
        <p>Bridal Make Up</p>
        <p>Professional Photoshoot</p>
    </div>
    <div>
        <div>
            <h3>Email</h3>
            <p>info@example.com</p>
        </div>
        <div>
            <h3>Address</h3>
            <p>425 6th Ave, Chennai 111111, India</p>
        </div>
    </div>
    <div>
        <h3>Buisness Hours</h3>
        <p>Monday - 11:00-06:00</p>
        <p>Tuesday: 11:00-06:00</p>
        <p>Wednesday: 11:00-06:00</p>
        <p>Thursday: 11:00-06:00</p>
        <p>Friday: 11:00-06:00</p>
        <p>Saturday: 11:00-06:00</p>
        <p>Sunday: 10:00-06:00</p>
    </div>
 </div>        
</body>
</html>

<script src="../Scripts/navbar.js"></script>
