h1{
    text-align: left;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.service{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.service>div:nth-child(1){
    width: 54%;
    height: 300px;
}
.service>div:nth-child(2){
    width: 40%;
   
}
.service img{
    width: 100%;
    height: 100%;
}
.service2{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.service2>div:nth-child(1){
    width: 40%;
}
.service2>div:nth-child(2){

    width: 54%;
    height: 300px;
}
.service2 img{
    width: 100%;
    height: 100%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid black;

  }
  th{
    background-color: black;
    color: white;
    font-size: 20px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  @media only screen and (max-width: 400px){
    .service{
        display: flex;
        flex-direction: column-reverse;
    }
    .service2{
        display: flex;
        flex-direction: column;
    }
  }



  /* -----------------footer----------------------------- */

  .footer{
    background: rgb(233, 230, 230);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    padding: 20px;
  }

  .footer a {
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background: orangered;
    color: white;
  }
  
  .footer a:hover {
      opacity: 0.7;
  }
  @media only screen and (max-width: 550px){
    .footer{
        display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      }
  }